body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f6f7;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.container {
    /* padding-left: 130px; */
    margin-top: 85px;
}

.left {
    float: left;
}

header .header-wrapper {
    margin: 0 auto;
    max-width: 1101px;
}

.right {
    float: right;
}

.container-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
}

.rectangle {
    width: 40px;
    height: 4px;
    background-color: #f7295c;
}

.header .main-text {
    padding-top: 8px;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.53;
    letter-spacing: 0.1px;
    color: #002836;
}

.main {
    margin-top: 74px;
    overflow: hidden;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1101px;
}

.main .main-left {
    float: left;
    max-width: 315px;
}

.main .platform-text {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #083b52;
    padding-top: 9px;
}

.main .suite {
    margin-top: 56px;
    display: inline-block;
    background-color: #ffffff;
}

.main .suite .suite-wrapper {
    max-width: 330px;
}

.suite .alice-suite .bottom-content {
    width: 250px;
    padding-right: 20px;
}

.suite .alice-suite {
    width: 263px;
    /*height: 24px; */
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #002836;
    padding-top: 21px;
}

.suite .align-left {
    float: left;
    width: 52px;
    padding-top: 12px;
}

.suite .align-right {
    float: right;
    width: 263px;
    padding-left: 12px;
    padding-bottom: 23px;
    padding-right: 23px;
}

.alice-suite-text-margin {
    /* padding-right: 12px; */
}

.alice-suite-text-margin h3 {
    /* width: 263px;
    height: 60px; */
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #4a4a4a;
}

.main .main-middle {
    /* max-width: 933px; */
    border-left: 0.5px solid #083b52;
    padding-left: 39px;
    margin-left: 38px;
}

.main .left ul {
    padding-top: 27px;
}

.main .left .ul li .img-size {
    width: 52px;
    /* overflow: hidden; */
    vertical-align: middle;
}

.main .left ul li .link-main {
    padding-top: 27px;
    /* overflow: hidden; */
    display: inline-block;
}

.main .left ul li .content {
    /* max-width: 100px; */
    /* overflow: hidden; */
    padding-left: 12px;
}

.main .header-text {
    /* width: 90px;
  height: 24px; */
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #002836;
}

.main .para-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.main .main-right {
    /* max-width: 933px; */
    /* border-left: 0.5px solid black; */
    padding-left: 39px;
    margin-left: 15px;
}

footer {
    border-top: solid 1px #019bb3;
    padding-top: 44px;
    margin-top: 87px;
    margin-bottom: 87px;
}

footer .footer-wrapper {
    margin: 0 auto;
    /* max-width: 1220px; */
    /* max-width: 1152px; */
    max-width: 1244px;
}

.footer-area {
    margin-top: 31px;
}

.footer .footer-area li {
    float: left;
}

footer .footer-area a {
    /* width: 91.2px;
    height: 16px; */
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #4a4a4a;
    padding: 12px;
    text-decoration: none;
    color: #083b52;
    display: block;
}

footer .app-social {
    margin-top: 21px;
    padding-left: 50px;
}

footer img {
    vertical-align: middle;
}

footer .app-social-wrapper {
    max-width: 475px;
    margin: 0 auto;
    overflow: hidden;
}

footer .app-social .apple-logo {
    /* float: left; */
    width: 113px;
    /* padding-left: 50px; */
}

footer .app-social .google-logo {
    width: 113px;
    padding-left: 23px;
}

footer .app-social .social-img {
    padding-left: 118px;
}

footer .app-social .social-img a {
    text-decoration: none;
}

footer .app-social .social-img .padding-left {
    padding-left: 18px;
}

@media only screen and (max-width:767px) {
    .main img {
        width: 48px;
    }
    .header .main-text {
        /* width: 310px;
        height: 64px; */
        font-size: 21px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #002836;
    }
    .main .suite {
        background-color: transparent;
    }
    .main .platform-text {
        border-bottom: solid 1px #979797;
        padding-bottom: 13px;
    }
    .suite .align-left img {
        width: 48px;
    }
    .alice-suite-text-margin h3 {
        display: none;
    }
    .main .main-left {
        float: none;
    }
    .main .main-middle {
        border-left: unset;
        padding-left: unset;
        margin-left: unset;
        float: none;
        margin-top: 73px;
    }
    .main .left ul li .link-main {
        /* padding-top: ; */
        display: block;
        overflow: hidden;
        padding-top: unset;
    }
    .main .left ul li:not(:first-child) .link-main {
        padding-top: 27px;
    }
    .img-size {
        float: left !important;
    }
    .img-size .left img {
        width: 48px !important;
        margin-top: 73px;
    }
    .main .left ul li .content {
        padding-top: 19px;
        float: left;
    }
    .main .header-text {
        font-size: 18px;
    }
    .main .para-text {
        display: none;
    }
    .main-middle .left {
        float: none;
    }
    .main .main-right {
        border-left: unset;
        padding-left: unset;
        margin-left: unset;
        margin-top: 73px;
        float: none;
    }
    .main-right .left {
        float: none;
    }
    /* footer */
    .footer-area {
        text-align: center;
        float: none;
    }
    footer .footer-wrapper {
        max-width: 375px;
    }
    footer .app-social {
        text-align: center;
        padding-left: unset;
        float: none;
    }
    footer .app-social-wrapper {
        max-width: 250px;
    }
    footer .app-social .social-img {
        padding-top: 12px;
        padding-left: 59px;
        /* margin-top: 12px; */
    }
    .footer .footer-area li {
        float: unset;
    }
    footer .footer-area ul li:not(:first-child) {
        padding-top: 13px;
    }
}