body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f6f7;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.container {
    padding-left: 130px;
    margin-top: 85px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container-wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.rectangle {
    width: 40px;
    height: 4px;
    background-color: #f7295c;
}

.header .main-text {
    padding-top: 8px;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.53;
    letter-spacing: 0.1px;
    color: #002836;
}

.main {
    margin-top: 74px;
    overflow: hidden;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1309px;
}

.main .main-left {
    float: left;
    max-width: 315px;
}

.main .platform-text {
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #083b52;
    padding-top: 9px;
}

.main .suite {
    margin-top: 56px;
    display: inline-block;
    background-color: #ffffff;
}

.main .suite .suite-wrapper {
    max-width: 330px;
}

.suite .alice-suite .bottom-content {
    width: 250px;
    padding-right: 20px;
    
}

.suite .alice-suite {
    width: 263px;
    /*height: 24px; */
    font-family: Roboto;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #002836;
    padding-top: 21px;
}

.suite .align-left {
    float: left;
    width: 52px;
    padding-top: 12px;
}

.suite .align-right {
    float: right;
    width: 263px;
    padding-left: 12px;
    padding-bottom: 23px;
    padding-right: 23px;
}

.alice-suite-text-margin {
    /* padding-right: 12px; */
}

.alice-suite-text-margin h3 {
    /* width: 263px;
    height: 60px; */
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #4a4a4a;
}

.main .main-middle {
    /* max-width: 933px; */
    border-left: 0.5px solid #083b52;
    padding-left: 39px;
    margin-left: 38px;
}

.main .left ul {
    padding-top: 27px;
}

.main .left .ul li .img-size {
    width: 52px;
    /* overflow: hidden; */
    vertical-align: middle;
}

.main .left ul li .link-main {
    padding-top: 27px;
    /* overflow: hidden; */
    display: inline-block;
}

.main .left ul li .content {
    /* max-width: 100px; */
    /* overflow: hidden; */
    padding-left: 12px;
}

.main .header-text {
    /* width: 90px;
  height: 24px; */
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #002836;
}

.main .para-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.main .main-right {
    /* max-width: 933px; */
    /* border-left: 0.5px solid black; */
    padding-left: 39px;
    margin-left: 15px;
}

footer {
    border-top: solid 1px #019bb3;
    padding-top: 44px;
    margin-top: 87px;
    margin-bottom: 87px;

}

footer .footer-wrapper {
    margin: 0 auto;
    max-width: 1220px;
}

.footer-area {
    margin-top: 31px;
}

footer .footer-area a {
    /* width: 91.2px;
    height: 16px; */
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #4a4a4a;
    padding: 12px;
    text-decoration: none;
}

footer .app-social {
    margin-top: 21px;
    padding-left: 50px;
}

footer img {
    vertical-align: middle;
}

footer .app-social-wrapper {
    max-width: 448px;
    margin: 0 auto;
    overflow: hidden;
}

footer .app-social .apple-logo {
    /* float: left; */
    width: 113px;
    /* padding-left: 50px; */
}

footer .app-social .google-logo {
    width: 113px;
    padding-left: 23px;
}

footer .app-social .social-img {
    padding-left: 118px;
}